/*  your css code here. If applicable */
body{
	background-color:#cccccc;
}
.player_one{
	background-color:white;
	border:1px solid black;
	border-radius:5px;
	padding:15px;
}
.list{
	text-decoration: none;
	color:black;
}
.player_two{
	display:flex;
	flex-direction:column;
	align-items:center;
	gap:0px;
	flex-grow:100%;
	
}
.player_two{
	background-color:white;
	margin:0 auto;
	width:500px;
	padding:15px;
	border-radius:10px ;
}
.audio{
	width:480px;
}
.heading{
	text-align:center;
}